.flex-container {
  display: flex;
  justify-content: center;
  background-color: aqua;
  border-style: solid;
  border-color: black;
  margin: 50px;
}

.a {
  justify-content: center;
  padding: 5px;
  margin: 50px;
  border-style: solid;
  border-color: black;
}

.flex-container-2 {
  display: flex;
  flex-flow: row wrap;
  height:50px;
  margin: 50px;
  justify-content: space-between;
}

.flex-container-3 {
  display: flex;
  flex-flow: row wrap;
}


.flex-container-4 {
  display: flex;
  flex-flow: row wrap;
}

.box {
    background-color: aqua;
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-color: black;
  }
