.box {
  background-color: aqua;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 3em;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;

}

.flex-container-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
